body {
    background-color: #303030;
}

.LogoPichau {
    position: relative;
    left: 10rem;
    bottom: 1rem;
}

.logoTipo {
    display: flex;
    max-width: 100%;
    height:75px;
    width:238.66px;
}

.Dep {
    background-color: rgb(58, 92, 184);
    color-scheme: white;
    color:white;
    border-radius: 0.6rem;
    border-top-color:rgb(58, 92, 184) ;
    border-bottom-color: rgb(58, 92, 184);
    border-left-color: rgb(58, 92, 184);
    border-right-color:rgb(58, 92, 184);
    height: 45px;
    width:200px ;
    position: relative;
    top: 145px;
    left: 25px;
    
}

.DepAcess {
    font-size: larger;
}

.DepAcess2 {
    font-size: xx-large;
}

.Cart {
    background-color: rgb(58, 92, 184);
    color-scheme: white;
    color:White;
    border-radius: 0.6rem;
    border-top-color:rgb(58, 92, 184);
    border-bottom-color: rgb(58, 92, 184);
    border-left-color: rgb(58, 92, 184);
    border-right-color:rgb(58, 92, 184);
    height: 55px;
    width:195px ;
    position: relative;
    top: 70px;
    left: 1440px;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.CartAcess {
    font-size: larger;

}

.CartAcess2 {
    font-size: small;
    
}

.Searching {
    background-color: gray;
    position: relative;
    border-radius: 0.6rem;
    left: 320px;
    top: 14px;
    width: 1066px;
    height: 48px;
    border-top-color:gray ;
    border-bottom-color: gray;
    border-left-color: gray;
    border-right-color:gray;
    font-size: large;
}

.bannerPrincipal {
    position: relative;
    bottom: 150px;
}

.BannerPcGamer {
    position: relative;
    bottom: 120px;
    left: 210px;
}

.BannerLeft {
    position: relative;
    bottom: 100px;
    left: 210px;

}

.BannerRight {
    position: relative;
    bottom: 244px;
    left: 960px;

}

.Cabecalho {
    background-color: rgba(15, 13, 13, 0.753);
    width: 1896px;
    height: 300px;
}

.BarraLateral {
    background-color: rgba(15, 13, 13, 0.753);
    display: flex;
    width: 250px;
    height: 700px;
}

.Opcoes {
    padding: 1.7rem;
}

.Opcoes li {
    padding: 1rem;
    background-color: gray;
    border-radius: 1rem;
    box-shadow: black;
    width: 165px;
    height: 10px;
    color: white;
    font-size: larger;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}